
/*===================================================
=====================================================
Developer: Casey Clair
Table of Contents
1. Global Styles
2. Nav Styles
3. Link Styles
4. Page Specific Styles
5. Fonts
6. Media Queries (mobile and tablet styles)

Color Palette:
#43604d (dark green, nav color)
#eea339 (orange, link and hover color)
#
#
#
=====================================================
====================================================*/





/*========================
1. Global Styles
=========================*/

body{
  font-family: 'Open Sans', sans-serif;
  background: #998D6D;/*(quinn)*/
}
main {
  height: 2133px;/*puts the footer at the bottum of each page equally. not somthing we want to keep just helps with syling visually. (quinn)*/
}
main .container {
  height: 2133px/*puts the footer at the bottum of each page equally. not somthing we want to keep just helps with syling visually. (quinn)*/
}
h1{
  font-family: 'Special Elite', cursive;
  margin: 15px 20px 10px; /*(quinn)*/
}
p, h2, h3, h4, h5, h6, span {
  margin: 20px;
}
main img, .container {
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}
.container{
  max-width: 1140px;
 }
header .container {/*(quinn)*/
    z-index: 1;
    ;
}
.fluid{
  max-width: 100%;
}
.ten h1 {
  margin-left: -22px;
}
.box { /*(quinn)*/
  height: 515.5px;
  border: 2px solid rgba(0,0,0,1);
  margin: 10px;
}
.box:first-child { /*(quinn)*/
  margin-left: 13.5px;
}
.box h2, .six p { /*(quinn)*/
  text-align: center;
}
.box h2 { /*(quinn)*/
  border: 2px solid rgba(0,0,0,1);
  margin: 7px 28px 10px;
  padding: 0px 0px 3px;
}
.box h2 a { /*(quinn)*/
  color: ; /*add text color(quinn)*/
}
.box h2 a:hover { /*(quinn)*/
  color: ; /*add text color(quinn)*/
}
.box p {
  height: 48px;
}
.box img { /*(quinn)*/
  margin: 12px 22px;
}
.line {
  border-bottom: 2px solid rgba(0,0,0,1);
  margin:  0px 0px 6px;
}
form  {
  border: 2px solid rgba(0,0,0,1);
  width: 45%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
form input, form textarea, form span {
  margin: 10px;
}
/*form input, form textarea {
  font-size: 2em;
}
form span {
  font-size: 1.5em;
}*/
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; 
  }
}
.header{
background: #fff;
}
footer{
  background: #000;
  color: #fff;
  height: 100px;
}

/*========================
2. Nav Styles
=========================*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #43604d;
}

/* Float the list items side by side */
ul.topnav li {
  display: inline;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #eea339;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}
.menu-icon{
  background: #fff;
  display: block;
  width: 22px;
  height: 4px;
  margin-top: 4px;
}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*========================
3. Link Styles
=========================*/

/*========================
4. Page specific styles
=========================*/

#banner{
background: url(../_images/home_banner.jpg) no-repeat;
background-size: cover;
background-position: center;
height: 500px;
}
#banner h1{
color: #fff;
}
.cat-icon img{
	width:200px;
	height:200px;
	display:block;
	border-radius:100px;
	margin: 1.2em auto;
}
#categories{
  background: url(../_images/woodgrain.jpg) no-repeat;
  background-size: cover;
}
#categories h3{
  text-align: center;
}
.border {
  border: 1px solid red;
}
/*========================
5. Fonts
=========================*/

/*========================
6. Media Queries
=========================*/

/*mobile styles*/

@media only screen and (max-width: 399px) {/*399px fixes padding issue(quinn)*/
  .container{
    width: 100%;
    padding: 0; 
  }
}
@media only screen and (max-width: 549px) {/*fix to margin issue on text(quinn)*/
  h1,h2,h3,h4,h5,h6,p {
    margin: 10px;
  }
}




@media only screen and (min-width: 481px) and (max-width: 861px) {

}


/*tablet styles*/

@media only screen and (min-width:861px) {

}
